// --------- config geral -----------
* {
  box-sizing: border-box;
}

:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  color: #222;
}

// --------- cabeçalho -----------
.header {
  background: white;
  text-align: center;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 370px;
  max-width: 90%;
  height: auto;
}

// --------- Menu -----------
.menu {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 90%;
  max-width: 1200px;

  margin: 0 auto 5px auto;

  background: #9a6666;
  border-radius: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  padding: 2px 20px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  padding: 6px 10px;
  border-radius: 18px;
  transition: 0.3s;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.2);
}



// ------------rodape-----------
.rodape {
  background: #8c6863;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

.rodape h3 {
  margin: 0;
  font-size: 28px;
}

.rodape p {
  margin: 8px 0;
  opacity: 0.95;
}

.linha {
  width: 150px;
  height: 1px;
  background: rgba(255,255,255,0.4);
  margin: 15px auto;
}

// --------- responsividade -----------
@media (max-width: 900px) {
  .grid-noticias {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    width: 280px;
  }
}

@media (max-width: 600px) {
  .grid-noticias {
    grid-template-columns: 1fr;
  }

  .menu {
    justify-content: flex-start;
    overflow-x: auto;
  }

  .logo {
    width: 240px;
  }
}