// --------- conteudo principal -----------
.conteudo-principal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  color: white;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.85));
}

.conteudo-principal h3 {
  font-size: 28px;
  margin: 8px 0;
}

.conteudo-principal a {
  color: white;
  font-weight: bold;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 32px 20px;
}

.categoria {
  margin-bottom: 10px;
}

.titulo-categoria {
  margin-bottom: 18px;
}

.titulo-categoria h2 {
  color: #102a43;
  font-size: 28px;
  margin-bottom: 4px;
}

.titulo-categoria p {
  color: #627d98;
  margin: 0;
}

// --------- cards -----------
.grid-noticias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.card {
  background: white;
  padding: 22px;
  border-radius: 16px;
  min-height: 230px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.categoria-tag {
  display: inline-block;
  background: #eee8e6;
  color: #6b5b57;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card h3 {
  color: #102a43;
  margin: 6px 0 10px;
  font-size: 21px;
}

.card p {
  color: #52616b;
  line-height: 1.5;
}

.card a {
  color: #6b5b57;
  font-weight: bold;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

//-------------topo conteudo-------------------
.topo-conteudo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-bottom: 30px;
}
//------------Destaque-----------------
.destaque {
  background: white;
  border-left: 6px solid #6b5b57;
  padding: 28px;
  border-radius: 16px;
  margin-bottom: 0px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}
//------------Pesquisa-----------------
.texto-pesquisa {
  margin: 0 0 10px;
  color: #6b5b57;
  font-weight: 600;
}

.pesquisa {
  background: white;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  overflow: hidden;
}

.pesquisa h3 {
  margin-top: 0;
  color: #6b5b57;
}

.caixa-pesquisa {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  background: white;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px 18px;

  display: flex;
  align-items: center;
  gap: 10px;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}

.caixa-pesquisa input {
  min-width: 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: #102a43;
}

.caixa-pesquisa input::placeholder {
  color: #8a8a8a;
}

.resultado-pesquisa {
  margin-top: 35px;
}

.grid-resultado {
  display: grid;
  gap: 20px;
}

.card-resultado {
  display: grid;
  grid-template-columns: 260px 1fr;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

.card-resultado img {
  width: 100%;
  height: 100%;
  min-height: 210px;
  object-fit: cover;
}

.conteudo-resultado {
  padding: 28px;
}

.conteudo-resultado h3 {
  color: #002b4f;
  font-size: 24px;
  margin: 18px 0 12px;
}

.conteudo-resultado p {
  color: #5d6d7e;
  font-size: 18px;
  line-height: 1.5;
}

.conteudo-resultado a {
  display: inline-block;
  margin-top: 14px;
  color: #6b4f4f;
  font-weight: 700;
  text-decoration: none;
}

.sem-resultado {
  background: white;
  padding: 25px;
  border-radius: 16px;
  color: #5d6d7e;
}

@media (max-width: 768px) {
  .card-resultado {
    grid-template-columns: 1fr;
  }

  .card-resultado img {
    height: 220px;
  }
}
.lista-sugestoes {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.lista-sugestoes li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.lista-sugestoes li:hover {
  background: #f5f5f5;
}
.lista-resultados {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.lista-resultados li {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.lista-resultados a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 600;
}

.lista-resultados a:hover {
  text-decoration: underline;
}

.categoria-link {
  margin-left: 8px;
  color: #666;
  font-size: 0.9rem;
}

//---------noticias utilidades publicas----------
.layout-noticias {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 24px;
}

.noticia-principal {
  position: relative;
  min-height: 360px;
  border-radius: 18px;
  overflow: hidden;
}

.noticia-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noticias-laterais {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.noticia-lateral {
  display: flex;
  align-items: center;
  gap: 10px;

  min-height: 140px;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 12px;
  border-bottom: 1px solid #ddd;
}

.noticia-lateral img {
  width: 220px;
  height: 140px;

  object-fit: cover;
  border-radius: 12px;

  flex-shrink: 0;
}

.noticia-lateral > div {
  min-width: 0;
}

.noticia-lateral span,
.conteudo-principal span {
  color: #9a6666;
  font-weight: bold;
  font-size: 13px;
}

.noticia-lateral h3 {
  margin: 6px 0;
  color: #102a43;
  font-size: 20px;
}

.noticia-lateral a {
  color: #9a6666;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 800px) {
  .topo-conteudo {
    grid-template-columns: 1fr;
  }

  .layout-noticias {
    grid-template-columns: 1fr;
  }

  .grid-noticias {
    grid-template-columns: 1fr;
  }

  .noticia-lateral {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .noticia-lateral img {
    width: 100%;
    height: 220px;
  }

  .noticia-lateral h3 {
    font-size: 18px;
  }

  .noticia-lateral p {
    word-break: normal;
    overflow-wrap: anywhere;
  }
}

//------------- noticias cultura -------------
.grid-cultura {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.card-cultura {
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.card-cultura img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
}

.card-cultura h3,
.card-cultura a {
  display: block;
  padding: 0 10px;
}

.card-cultura h3 {
  color: #102a43;
  font-size: 20px;
  line-height: 1.25;
  margin: 10px 0 8px;
  font-weight: 700;
}

.card-cultura a {
  color: #9a6666;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 12px;
}

.card-cultura a:hover {
  text-decoration: underline;
}