<main class="container">

  <section class="topo-conteudo">
    <section class="destaque">
      <div>
        <span class="tag">Em destaque</span>
        <h2>Informação organizada para facilitar o acesso às notícias</h2>
        <p>
          Portal desenvolvido para reunir conteúdos jornalísticos em categorias,
          facilitando a navegação, a leitura e a encontrabilidade da informação.
        </p>
      </div>
    </section>

    <section class="pesquisa">
      <h3>Pesquisar</h3>

      <div class="caixa-pesquisa">
      <span>🔎</span>
      <input
        type="text"
        placeholder="Pesquisar notícias..."
        [(ngModel)]="termoPesquisa">
      </div>

      @if (sugestoes.length > 0) {
        <ul class="lista-sugestoes">
          @for (sugestao of sugestoes; track sugestao.id) {
            <li (click)="selecionarSugestao(sugestao.titulo)">
              {{ sugestao.titulo }}
            </li>
          }
        </ul>
      }

      <p>
        Encontre notícias por tema, categoria ou palavra-chave.
      </p>
    </section>
    @if (termoPesquisa) {
      <section class="resultado-pesquisa">
        <div class="titulo-categoria">
          <h2>Resultado da pesquisa</h2>
          <p>Notícias encontradas para: "{{ termoPesquisa }}"</p>
        </div>

      @if (noticiasFiltradas.length > 0) {
        <div class="grid-noticias">
          @for (noticia of noticiasFiltradas; track noticia.id) {
            <article class="card-resultado">
              <img [src]="noticia.imagens[0]" [alt]="noticia.titulo">

              <div class="conteudo-resultado">
                <span class="categoria-tag">{{ noticia.categoria }}</span>

                <h3>{{ noticia.titulo }}</h3>

                <p>{{ noticia.resumo }}</p>

                <a [routerLink]="['/noticia', noticia.id]">Ler mais</a>
              </div>
            </article>
          }
        </div>
      } @else {
        <p class="sem-resultado">
          Nenhuma notícia encontrada para "{{ termoPesquisa }}".
        </p>
      }
    </section>
  }

  </section>

  <!-- ------------ esportes ------------ -->
  <section id="esportes" class="categoria">
    <div class="titulo-categoria">
      <h2>Esportes</h2>
      <p>Responsável: Cristiane Aparecida Barros</p>
    </div>

  <div class="grid-cultura">
    <article class="card-cultura">
      <img src="/images/brasil-copa.jpg" alt="Brasil na Copa">
      <h3>Qual é o próximo jogo do Brasil na Copa? Veja data e horário</h3>
      <a [routerLink]="['/noticia', 7]">Ler mais</a>
    </article>

    <article class="card-cultura">
      <img src="/images/brasil-feminino.jpg" alt="Brasil Feminino">
      <h3>Brasil segura pressão e vence Estados Unidos em amistoso</h3>
      <a [routerLink]="['/noticia', 8]">Ler mais</a>
    </article>

    <article class="card-cultura">
      <img src="/images/ginastica-pan.jpg" alt="Ginástica">
      <h3>Pan-Americanos de Ginástica em 2026 serão realizados no Brasil</h3>
      <a [routerLink]="['/noticia', 9]">Ler mais</a>
    </article>
  </div>
</section>

  <!-- ------------ ciência e tecnologia ------------ -->
<section id="tecnologia" class="categoria">
  <div class="titulo-categoria">
    <h2>Ciência e Tecnologia</h2>
    <p>Responsável: Cristiane Aparecida Barros</p>
  </div>

  <div class="grid-cultura">

    <article class="card-cultura">
      <img src="/images/ccad-cefet.jpg" alt="Centro de Computação">
      <h3>Nova infraestrutura computacional amplia acesso à ciência de ponta em Minas Gerais</h3>
      <a [routerLink]="['/noticia', 10]">Ler mais</a>
    </article>

    <article class="card-cultura">
      <img src="/images/microplasticos.jpg" alt="Microplásticos">
      <h3>Ciência nuclear brasileira combate poluição por microplásticos</h3>
      <a [routerLink]="['/noticia', 11]">Ler mais</a>
    </article>

    <article class="card-cultura">
      <img src="/images/tupann-ia.jpg" alt="Inteligência Artificial">
      <h3>Pesquisadores do Impa desenvolvem modelo de IA que prevê chuvas</h3>
      <a [routerLink]="['/noticia', 12]">Ler mais</a>
    </article>

  </div>
</section>

  <!-- ------------ utilidade publica ------------ -->
  <section id="utilidade" class="categoria">
    <div class="titulo-categoria">
      <h2>Utilidade Pública</h2>
      <p>Responsável: Jackeline de Paula Lima</p>
    </div>

    <div class="layout-noticias">
      <article class="noticia-principal">
        <img src="/images/frio.jpg" alt="Alerta de frio intenso">

        <div class="conteudo-principal">
          <span>Defesa Civil e Saúde</span>
          <h3>Alerta de frio intenso no Sul e Sudeste</h3>
          <p>O INMET mantém alerta para baixas temperaturas em estados do Sul e Sudeste.</p>
          <a [routerLink]="['/noticia', 2]">Ler mais</a>
        </div>
      </article>

      <div class="noticias-laterais">
        <article class="noticia-lateral">
          <img src="/images/vacinacao.jpg" alt="Vacinação contra Influenza">
          <div>
            <span>Saúde Pública</span>
            <h3>Vacinação contra Influenza ampliada para toda a população</h3>
            <a [routerLink]="['/noticia', 3]">Ler mais</a>
          </div>
        </article>

        <article class="noticia-lateral">
          <img src="/images/vagas.jpg" alt="Oportunidades de emprego">
          <div>
            <span>Serviços ao Cidadão</span>
            <h3>Oportunidades de emprego são atualizadas semanalmente</h3>
            <a [routerLink]="['/noticia', 1]">Ler mais</a>
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- ------------ cultura e entreterimento ------------ -->
  <section id="cultura" class="categoria">
    <div class="titulo-categoria">
      <h2>Cultura e Entretenimento</h2>
      <p>Responsável: Jackeline de Paula Lima</p>
    </div>

    <div class="grid-cultura">
      <article class="card-cultura">
        <img src="/images/cultura-festival.jpg" alt="Festival de Inverno de São Roque">
        <h3>Festival de Inverno de São Roque 2026 reúne música, arte e lazer</h3>
        <a [routerLink]="['/noticia', 4]">Ler mais</a>
      </article>

      <article class="card-cultura">
        <img src="/images/cultura-livro.png" alt="Bienal Internacional do Livro">
        <h3>Bienal Internacional do Livro incentiva leitura e aproxima público da literatura</h3>
        <a [routerLink]="['/noticia', 5]">Ler mais</a>
      </article>

      <article class="card-cultura">
        <img src="/images/cultura-arte.jpeg" alt="Arte urbana">
        <h3>Festa da Luz 2026 transforma o centro de Belo Horizonte em galeria de arte a céu aberto</h3>
        <a [routerLink]="['/noticia', 6]">Ler mais</a>
      </article>
    </div>
  </section>

</main>