<main class="pagina-noticia">

  <div *ngIf="noticia; else naoEncontrada">

    <div class="breadcrumb">
      <a routerLink="/">Home</a>
      <span>›</span>
      <a [routerLink]="noticia.rotaSecao">{{ noticia.secao }}</a>
      <span>›</span>
      <span>{{ noticia.titulo }}</span>
    </div>

    <span class="categoria-tag">{{ noticia.categoria }}</span>

    <h1>{{ noticia.titulo }}</h1>

    <div class="meta-noticia">
      <span>📅 {{ noticia.data }}</span>
      <span>•</span>
      <span>✍️ {{ noticia.autor }}</span>
    </div>

    <p class="resumo">{{ noticia.resumo }}</p>

    <img
      class="imagem-noticia"
      [src]="noticia.imagens[0]"
      [alt]="noticia.titulo"
    >

    <p>{{ noticia.texto[0] }}</p>

    <div class="galeria-noticia" *ngIf="noticia.imagens[1] && noticia.imagens[2]">
      <img
        [src]="noticia.imagens[1]"
        [alt]="noticia.titulo"
      >

      <img
        [src]="noticia.imagens[2]"
        [alt]="noticia.titulo"
      >
    </div>

    <p>{{ noticia.texto[1] }}</p>

    <p>{{ noticia.texto[2] }}</p>

    <p *ngIf="noticia.texto[3]">{{ noticia.texto[3] }}</p>

    <p *ngIf="noticia.texto[4]">{{ noticia.texto[4] }}</p>

    <img
      *ngIf="noticia.imagens[3]"
      class="imagem-secundaria"
      [src]="noticia.imagens[3]"
      [alt]="noticia.titulo"
    >

    <h2>Importância</h2>

    <ul>
      <li *ngFor="let item of noticia.importancia">
        {{ item }}
      </li>
    </ul>

    <section class="relacionadas">
    <h2>Notícias da mesma categoria</h2>
    <div class="grid-relacionadas">
      @for (item of noticiasRelacionadas; track item.id) {
        <article class="card-relacionada">
          <img [src]="item.imagens[0]" [alt]="item.titulo">

          <div>
            <span>{{ item.categoria }}</span>
            <h3>{{ item.titulo }}</h3>
            <a [routerLink]="['/noticia', item.id]">Ler mais</a>
          </div>
        </article>
      }
    </div>
  </section>

  </div>

  <ng-template #naoEncontrada>
    <h1>Notícia não encontrada</h1>
    <p>ID recebido: {{ id }}</p>
  </ng-template>

</main>